@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,300i,400,600,600i,700,700i');
* {
    font-family: Nunito;
    /*font-weight: 300;*/
    margin: 0;
    padding: 0;
}

div.wrap {
    display: grid;
}
section.intro {
    display: grid;
    grid-template-columns: 20px 1fr 1fr 0px;
}
div.wrap section.intro article.introtext {
    grid-column: 2/3;
}
article.introtext p {
    font-size: .8em;
    color: grey;
    width: 80%;
}
div.wrap section.intro article.intropic {
    grid-column: 3/4;
    background-color: #d6ebf2;
}
article.intropic figure.pic {
    width: 70%;
    margin: 0 auto;
}
img {
    width: 100%
}
footer {
    background-color: #ffdee3;
}
footer p {
    font-size: .6em;
    color: grey;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.05em;
    padding: 6em 0;
}

h1{
    font-size: 3em;
}


/*-----NAVIGATIE-----*/

nav ul {
    top: 10px;
    z-index: 21;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 96%;
}
nav li {
    display: inline-block;
    font-size: 18px;
    letter-spacing: .075em;
    position: relative;
    padding: 0;
    margin: 0;
}
nav ul li a {
    color: black;
    text-decoration: none;
    margin: 3px 13px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 80%;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
nav ul li a:hover {
    text-decoration: none;
    color: black;
}
nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #9e75c4;
    transition: width .5s;
}
nav ul li a:hover::after {
    width: 100%;
}
nav ul li a:current::after {
    content: '';
    display: none;
}
nav ul li>ul {
    display: none;
}
nav ul li:hover>ul {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 24px;
    margin: 0 auto;
    padding: 0
}
header nav li {
    font-size: 1em;
}
nav ul li a:current::after {
    content: '';
    display: none;
}
.current {
    color: black;
    border-bottom: solid black 1px;
}
/*---END NAVIGATION---*/

/*-----FONTS-----*/

h2 {
    font-size: 1.4em;
    font-weight: 400;
}
h3 {
    font-weight: 300;
    color: #D0AAF3;
}
p {
    font-weight: 200;
    margin: 0;
}
p.bron {
    font-size: .8em;
}
span.color {
    font-style: italic;
    color: #9e75c4;
}
span.char {
    color: #9e75c4;
}
figcaption {
    font-size: .8em;
}
